.checkout-left {
    flex-grow: 1;
    padding-right: 15px;
}

.checkout-form {

}

@media screen and (max-width: 1280px) {
    .checkout-form {
        .order-notes {
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: $lg) {
    .checkout-left {
        padding-right: 0;
    }
}
