.nice-select {
    height: auto;
    display: inline-block;
    float: none;
    border: none;

    &:after {
        border: none;
    }

    &.form-control {
        color: $color-black;
        padding: 7px 10px;
        border: 1px solid $color-gray-lite;
        line-height: normal;

        &.arrow-black {
            background-position: right 10px center;
        }
    }

    &.right {
        float: none;
    }

    .list {
        min-width: 190px;
        margin-top: 1px;
        padding: 10px 0;
        border-radius: $radius-default;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
        transform: scale(0.8);
        z-index: 9;
        transition: all $transition-default cubic-bezier(0.5, 0, 0, 1.25);
    }

    .option {
        line-height: normal;
        padding: 5px 10px;
        min-height: 0;

        &:hover {
            color: var(--secondary-color);
            background: $color-white;
        }

        &.focus {
            background: $color-white;
        }

        &.selected {
            font-weight: 400;
            color: var(--secondary-color);

            &.focus {
                background: $color-white;
            }
        }
    }
}
