.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: transparent; // Reset for nesting within parents with `background-color`.

    th,
    td {
        padding: 0.25rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    thead th {
        vertical-align: bottom;
        border-bottom: 1px solid #dee2e6;
    }

    tbody + tbody {
        border-top: 1px solid #dee2e6;
    }
}

.table-bordered {
	td {
		border-color: $color-gray-lite;
	}
}

.table {
	thead {
		th {
			border-bottom: 1px solid $color-gray-lite;
		}
	}

    tbody {
        tr {
            &:first-child {
                td {
                    padding-top: 30px;
                    border: none;
                }
            }
        }
    }

	th {
        font-weight: 500;
        padding: 15px 30px;
		border-top: none;
	}

	td {
        padding: 20px 20px;
		border-color: $color-gray-lite;
	}
}
