<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect all old url to new with 301
    RedirectMatch 301 ^/products/speakers/home-speakers/(.*)/(.*)$ /en/products/$2
    RedirectMatch 301 ^/products/speakers/industrial-speakers/(.*)/(.*)$ /en/products/$2
    RedirectMatch 301 ^/products/speakers/marine-speakers/(.*)/(.*)$ /en/products/$2
    RedirectMatch 301 ^/products/speakers/musical-instruments-speakers/(.*)/(.*)$ /en/products/$2
    RedirectMatch 301 ^/products/speakers/pro-speakers/(.*)/(.*)$ /en/products/$2
=
    RedirectMatch 301 ^/products/accessories/(.*)/(.*)$ /en/products/$2
    RedirectMatch 301 ^/products/accessories/ac-products/(.*)/(.*)$ /en/products/$2
    RedirectMatch 301 ^/products/accessories/interconnect-connectors-plugs/(.*)/(.*)$ /en/products/$2
    RedirectMatch 301 ^/products/accessories/plugs-connectors/(.*)/(.*)$ /en/products/$2
    RedirectMatch 301 ^/products/accessories/ports-and-more/(.*)/(.*)$ /en/products/$2
    RedirectMatch 301 ^/products/accessories/solen-screws-nuts-inserts/(.*)/(.*)$ /en/products/$2
    RedirectMatch 301 ^/products/accessories/spikes-stands/(.*)/(.*)$ /en/products/$2
    RedirectMatch 301 ^/products/accessories/wire-bulk/(.*)/(.*)$ /en/products/$2

    RedirectMatch 301 ^/products/books/(.*)$ /en/products/$1

    RedirectMatch 301 ^/products/cables/(.*)/(.*)$ /en/products/$2

    RedirectMatch 301 ^/products/capacitors/(.*)/(.*)$ /en/products/$2

    RedirectMatch 301 ^/products/car-audio/(.*)/(.*)$ /en/products/$2

    RedirectMatch 301 ^/products/crossover-parts/(.*)/(.*)$ /en/products/$2

    RedirectMatch 301 ^/products/electronics/(.*)/(.*)$ /en/products/$2

    RedirectMatch 301 ^/products/empty-cabinets/(.*)/(.*)$ /en/products/$2

    RedirectMatch 301 ^/products/headphones/(.*)/(.*)$ /en/products/$2

    RedirectMatch 301 ^/products/inductors/(.*)/(.*)$ /en/products/$2

    RedirectMatch 301 ^/products/kits/(.*)/(.*)$ /en/products/$2

    RedirectMatch 301 ^/products/multi-room-home-theater/(.*)/(.*)$ /en/products/$2

    RedirectMatch 301 ^/products/resistors/(.*)/(.*)$ /en/products/$2

    RedirectMatch 301 ^/products/the-tube-shack/(.*)/(.*)$ /en/products/$2
    RedirectMatch 301 ^/products/the-tube-shack/tubes/(.*)/(.*)$ /en/products/$2
</IfModule>
