// instagram css here
.instagram__swiper--column5 {
    .swiper-slide {
        text-align: center;
    }
}

.instagram__thumbnail {

    display: inline-flex;
    margin: 0 10px;
    max-height: 110px;
    align-items: center;
    justify-content: center;

    a {
        text-align: center;
        height: 100px;
    }

    &:hover {
        & .instagram__thumbnail--img {
            transform: scale(1.05);
        }
    }

    &--img {
        max-height: 100%;
        max-width: 100%;
        transition: $transition-primary;
        @media only screen and (max-width: 575px) {
            width: 100%;
        }
    }
}

.instagram__social--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--secondary-color);
    transform: translatey(-50%) translatex(-50%) scale(0);

    &:hover {
        background: var(--secondary-color);
        color: var(--white-color);
    }
}
